body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.calculater-container{
  width: 30%;
  margin-top: 5%;
  padding: 20px;
  text-align: left;
}
p{
  margin-bottom: 0.3rem;
}
button{
  margin-top: 15px;
  margin-bottom: 20px;
  width: 100%;
}
input{
  margin-top: 15px;
}
.highlight{
  color: palevioletred;
}
h2{
  text-align: center;
}
